@import '~normalize.css';
@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 2rem;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}

.logo {
    background-image: url('C:/Users/pasha/Desktop/code/src/assets/webpack-logo.png');
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}